@font-face {
	src: url('../fonts/Abel-Regular.ttf');
	font-family: "Abel-Regular";
	src: url('../fonts/Arctic.otf');
	font-family: "Arctic";
}
body {
	font-family: "Abel-Regular", sans-serif;
}
.nav li a {
	color : #808080;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: black;
  border-bottom-color: black;
}
.mui-textfield > input:focus,
.mui-textfield > textarea:focus,
.mui-select > select:focus {
	border-color: #000000;
}
.mui-textfield > input:focus ~ label,
.mui-textfield > textarea:focus ~ label,
.mui-select > select:focus ~ label,
.masthead-brand {
	color: #000000;
}
div.form_sign_in,
div.form_sign_up,
.mui-textfield > input,
.mui-textfield > textarea,
.title,
h2.blog_name,
h3.post_title,
div.centre,
div#post_add_comment {
	text-align: center;
}
div.resume_last_six_blog {
	width: 40%;
	float: left;
	margin: 5%;
}
#logout {
	float: right;
}
div#blog_name {
	text-align: center;
	font-size: 2em;
	font-family: "Arctic", sans-serif;
}
.floated_left {
	float: left;
}
.floated_right {
	float: right;
}
button.toggle_account,
button.toggle_blogs,
button.crud_blog,
button.toggle_create_blog,
button.button_blog_update,
button.button_blog_remove,
button.button_post_create,
a.retour,
div.display-error,
button.button_post_update,
div.update_post,
div.create_post,
div.jumbotron_profile,
button#add_comment,
div.post_comment,
div#post_medias {
	width: 100%;
	text-align: center;
}
div.account,
div.blogs,
div.create_blog {
	text-align: center;
	display: none;
}
img.mui-image {
	width: 30%;
}