@font-face {
	font-family: "Abel-Regular";
	src: url('../fonts/Abel-Regular.ttf');
}
body {
	font-family: "Abel-Regular";
}
.input-text {
	height: 50px;
	font-size: 24px;
}
.log {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -250px;
	padding: 25px;
	border: 2px solid #999;
	width: 500px;
	height: 370px;
}
.log h2 {
	color: #999;
}
.log p {
	padding-top: 5px;
	font-size: 1.3em;
	color: white;
}
.nav li a {
	color : #808080;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: black;
  border-bottom-color: black;
}
.mui-textfield > input:focus {
	border-color: #000000;
}
.mui-textfield > input:focus ~ label,
.masthead-brand {
	color: #000000;
}
div.site-wrapper {
	margin-top: 150px;
}
div.form_sign_in,
div.form_sign_up,
.mui-textfield > input {
	text-align: center;
}
div.resume_last_six_blog {
	width: 30%;
	float: left;
	margin: 3%;
}
h2.blog_name {
	text-align: center;
}