body {
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.input-text {
	height: 50px;
	font-size: 24px;
}

.log {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -250px;
	padding: 25px;
	border: 2px solid #999;
	width: 500px;
	height: 370px;
}
.log h2 {
	color: #999;
}
.log p {
	padding-top: 5px;
	font-size: 1.3em;
	color: white;
}
/*@font-face {
	font-family: "Pacifico";
	src: url('pacifico.ttf');
}*/